.card{
    width: 90%;
}
.card-body{
    background-color: rgb(250, 254, 255);
}
#title{
    text-align: center;
    margin-bottom: 4rem;
}
#card-title{
    text-align: center;
}
#laptopPrice{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 3vw;   
}
#laptopTitle{
    font-weight: bold;
    font-size: 1.6rem;
}
.p{
    font-size: 1rem;
}
.laptopCol1, .laptopCol2{
    display: inline-block;
}
#col1, #col2{
    display: flex;
    justify-content: center;
}
#laptopImage{
    display: inline-block;
}
#laptopInfoBox{
    margin-right: 3vw;
    margin-left: 1vw;
    margin-top: 5vw;
    border: 1px solid lightGray;
    border-radius: 5px;
    padding: 3vw;
    background-color: rgb(250, 254, 255);
}

/*Buttons*/
#getLoanBtn{
    background-color: #4bf0a0;
}
#bankInSalaryBtn{
    background-color: #edef4c;
}
#workBtn{
    background-color: #4d70f0;
}
#repayLoanBtn{
    background-color:pink;
}
#buyLaptopBtn{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
